@{
    ViewData["Title"] = "HOME";
}

    <div class="containerhome">
        <header>
            <h1 class="main-title">VIAJE DE MANEIRA MAIS INTELIGENTE, MAIS BARATA E POR MAIS TEMPO</h1>
            <p class="sub-title">Onde você quer ir?</p>
            <img class="img" src="~/img/viagens.jpg" />
        </header>
    </div>
