@{
    ViewData["Title"] = "TravelGuides";
}
    <body>
        <p class="section section-content">Meus guias de viagem têm como objetivo fornecer as melhores e mais atualizadas informações sobre os principais destinos de viagem ao redor do mundo. (Eu sei como é ruim obter informações desatualizadas de um guia impresso, por isso mantenho todas essas páginas atualizadas constantemente!) Aqui você encontrará coisas para ver e fazer, informações sobre custos, meus melhores conselhos para economizar dinheiro, recomendações de lugares para ficar, sugestões de restaurantes, dicas de transporte e conselhos de segurança.</p>
    <h1 class="main-titlee" style="margin-bottom:2%">GUIA DE VIAGEM DA TAILÂNDIA</h1>
        <img class="img" src="~/img/thailandguide.jpg" />
        <h2 class="sub-title" style="margin-top:2%">OS TRÊS PRINCIPAIS LUGARES PARA SE VISITAR</h2>
        <ol>
            <li class="section">
                <h3 class="section-title">Visite Banguecoque</h3>
                <p class="section-content">Bangkok é uma cidade caótica e imperdível. Aqui você pode explorar templos, palácios reais, mercados incríveis, uma das cenas noturnas mais loucas do mundo e, claro, comer toda a incrível comida tailandesa. Confira Khao San Road para ver o refúgio dos mochileiros, Thong Lor/Ekamai para a vida noturna tailandesa local, veja as belas obras de arte do Grande Palácio e o Buda esmeralda e faça compras no Chatuchak Weekend Market. Bangkok é uma cebola que precisa de tempo para ser descascada. Saia da rota turística, coma nos mercados, explore a vida noturna e simplesmente relaxe.</p>
            </li>
            <li class="section">
                <h3 class="section-title">Aventura em Chiang Mai</h3>
                <p class="section-content">Chiang Mai é uma cidade repleta de templos, mercados de comida incríveis, mercados noturnos, muitos cafés e um clima descontraído. É uma boa plataforma de lançamento para passeios de vários dias na selva, atividades de aventura ou visitas aos santuários de elefantes próximos, onde você pode se voluntariar para ajudar os elefantes resgatados. E não deixe de ir ao Wat Doi Suthep, o templo mais famoso de Chiang Mai (o pagode supostamente contém relíquias do próprio Buda). Chiang Mai também é considerada uma das capitais gastronômicas do país, então não deixe de se fartar de comida. Também há uma grande cena de jazz aqui!</p>
            </li>
            <li class="section">
                <h3 class="section-title">Caminhada no Parque Nacional Khao Yai</h3>
                <p class="section-content">O Parque Nacional Khao Yai, localizado a cerca de 2,5 horas ao norte de Bangkok, é um dos melhores parques nacionais da Tailândia. É visualmente deslumbrante, repleto de flora e fauna exuberantes, muitas cachoeiras, trilhas para caminhadas e até alguns elefantes selvagens. É um lugar de visita obrigatória. Fique na Greenleaf Guesthouse para obter as melhores ofertas de passeios/acomodações na região.</p>
            </li>
        </ol>
    </body>

