@{
    ViewData["Title"] = "About";
}

<body>
    <div class="containerabout">
        <div class="column column-image">
            <img src="~/img/montanha.jpg" alt="Imagem de montanha">
        </div>
        <div class="column column-text">
            <p><span class="greeting">Olá, viajantes!</span> Meu nome é Hemily e sou uma exploradora ávida, apaixonada por descobrir os cantos mais remotos e fascinantes do mundo. Desde criança, o desejo de viajar e experimentar novas culturas está gravado em meu coração.</p>
            <p>O Adventure Atlas nasceu de uma profunda necessidade de compartilhar minhas experiências de viagem e inspirar outros a explorar o mundo ao seu redor. Após inúmeras aventuras em lugares exóticos e encantadores, percebi que cada viagem é uma oportunidade não apenas de explorar novos lugares, mas também de aprender, crescer e se conectar com pessoas e culturas diversas.</p>
            <p>Decidi iniciar este blog como uma plataforma para relatar minhas jornadas, desde as pitorescas vilas europeias até as majestosas montanhas da Ásia e os vibrantes mercados da América Latina. Acredito que cada destino tem uma história única para contar e estou determinada a compartilhar essas histórias com o mundo.</p>
            <p>O objetivo do Adventure Atlas é oferecer aos leitores uma fonte de inspiração para suas próprias aventuras. Quero fornecer dicas práticas, recomendações sinceras e relatos honestos de minhas experiências para ajudar os viajantes a planejar e desfrutar de viagens memoráveis. Além disso, estou empenhada em promover o turismo responsável e sustentável, respeitando e preservando os destinos que tanto amamos explorar.</p>
            <p>Se você compartilha minha paixão pela aventura, então você veio ao lugar certo. Bem-vindo ao Adventure Atlas - onde a jornada é tão emocionante quanto o destino!</p>
        </div>
    </div>
</body>


